
---
import Base from '../layouts/BaseLayout.astro';
---
<Base title="Visioon">
  <section class="py-20">
    <div class="max-w-3xl mx-auto text-center">
      <h1 class="text-4xl font-bold mb-8">Visioon</h1>
      <p>Sisu valmib peatselt.</p>
    </div>
  </section>
</Base>
