
<footer class="bg-neutralDark text-white py-8">
  <div class="max-w-7xl mx-auto text-center space-y-2">
    <p>© 2025 Hannes Klaas</p>
    <p class="space-x-4">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
    </p>
  </div>
</footer>
